[Unit]
Description=A high performance web server and a reverse proxy server
After=network.target

[Service]
Type=forking
PIDFile=/home/work/nginx/logs/nginx.pid
ExecStartPre=/home/work/nginx/sbin/nginx -t -q -g 'daemon on; master_process on;'
ExecStart=/home/work/nginx/sbin/nginx -g 'daemon on; master_process on;'
ExecReload=/home/work/nginx/sbin/nginx -g 'daemon on; master_process on;' -s reload
ExecStop=/usr/sbin/nginx -s quit

[Install]
WantedBy=multi-user.target
